<!-- Content -->
<h1 class="display-4 m-4">
    Contacto
</h1>
<p>Cuéntame que te pareció el sitio web, también puedo contactarte más tarde.</p>

<form action="https://formspree.io/f/mqkwwnyl" method="POST"
    class="row g-3 mt-4 animate__animated animate__fadeIn">

    <div class="col-12 col-md-6">
        <label class="form-label">Nombre</label>
        <input type="text" name="name" class="form-control" placeholder="Vanesa">
    </div>

    <div class="col-12 col-md-6">
        <label class="form-label">Apellido</label>
        <input type="text" name="lastname" class="form-control" placeholder="González">
    </div>

    <div class="col-12 col-md-12">
        <label class="form-label">Correo</label>
        <input type="email" name="email" class="form-control" placeholder="vanesa@gonzalez.com">
    </div>

    <div class="col-12 col-md-12">
        <label class="form-label">Institución</label>
        <input type="text" name="institucion" class="form-control" 
            placeholder="Tecnológico de Estudios Superiores de Coacalco">
    </div>

    <div class="col-12">
        <label class="form-label">Comentarios</label>
        <textarea name="comment" class="form-control" rows="3"></textarea>
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>

</form>